:root {
    --dark-kopi: #543310;
    --light-kopi: #603F26;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-image: url("./pict/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--dark-kopi);
}

header {
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    /* animasi halus */
    background: transparent;
    color: white;
}

header.scrolled {
    background: white;
    color: var(--dark-kopi);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* opsional, biar keliatan timbul */
}


header h1 {
    font-size: 1.7rem;
}

header .btn {
    float: right;
    width: 50%;
}

header .hamburger {
    font-size: 1.7rem;
    cursor: pointer;
}

.btn button {
    float: right;
    background-color: transparent;
    color: white;
    border: 1.8px solid white;
    font-size: 1rem;
    width: auto;
    padding: 0.7rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}

button.scroll {
    color: var(--dark-kopi);
    border: 1.8px solid var(--dark-kopi);
}

.btn button:hover {
    background-color: white;
    color: var(--dark-kopi);
    border: 2px solid #AF8F6F;
}

header h1 {
    padding-left: 10px;
    width: 50%;
}

section {
    display: flex;
    flex-direction: column;
    height: auto;
}

section h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    margin: 4rem auto 3rem auto;
    width: 100%;
    z-index: 5;
}

section h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #c49b63;
    border-radius: 2px;
    margin: 0 auto;
}


section nav {
    width: 100%;
    top: 4rem;
    position: sticky;
    margin: 0;
    font-size: 1.5rem;
    padding: 1rem;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.1);
    /* transparan putih */
    backdrop-filter: blur(10px);
    /* efek blur */
    -webkit-backdrop-filter: blur(10px);
}

nav.active {
    animation: slideDown 0.6s ease-out forwards;
    pointer-events: auto;
}

nav.closing {
    animation: slideUp 0.4s ease-in forwards;
    pointer-events: none;
}

nav.scrolled {
    background-color: white;
    color: var(--dark-kopi);

}



@keyframes slideDown {
    0% {
        max-height: auto;
        opacity: 1;
        transform: translateY(-20px);
    }

    60% {
        max-height: auto;
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        max-height: 300px;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        max-height: 200px;
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        max-height: 0;
        opacity: 1;
        transform: translateY(-20px);
    }
}


nav ul {
    position: relative;
    width: 100%;
}

nav li {
    line-height: 1.5;
    width: 100%;
    list-style: none;
    padding: 1rem 1.5rem;
    display: block;
    text-align: left;
    color: white;

}
nav li.scrolled {
    color: var(--dark-kopi);
}
nav li:hover {
    background-color: #865439;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

nav li:focus {
    background-color: #865439;
    color: white;
    cursor: pointer;

}

nav a {
    text-decoration: none;
    color: #F8F4E1;
}

#typeIt{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: white;
    z-index: 9999;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20%;
    margin-bottom: -20%;
    padding: 1rem;
   
}

section article {
    width: 100%;
    text-align: justify;
    background-color: white;

}

.content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 15px;
    margin:1.5rem;

}

.content .pict {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.pict img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    border: 5px solid var(--dark-kopi);
    box-shadow: 3px 3px 5px gray;
    display: block;
}


.content .desc {
    width: 100%;
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.8rem;
    padding: 1rem;
}

.content h2 {
    text-align: center;
}

footer {
    background-color: var(--dark-kopi);
    color: white;
    padding: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    section {
        flex-direction: row;
    }

    section nav {
        width: 30%;
        max-height: auto;
        opacity: 1;
        overflow: auto;
        display: block;
        min-height: 600px;
        max-height: auto;
        pointer-events: all;

    }

    .hamburger {
        display: none;
    }

    .content {
        flex-direction: row;
    }

    .content .pict {
        width: 40%;
        margin: 0;
    }

    .pict img {
        width: 80%;
        margin-top: 25%;
    }

    .content .desc {
        width: 60%;
    }

}