:root {
    --dark-kopi: #543310;
    --light-kopi: #603F26;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-image: url("./pict/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--dark-kopi);
}

header {
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 9000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    /* animasi halus */
    background: transparent;
    color: white;
}

.nav-list {
    display: none;
}

header.scrolled {
    background: white;
    color: var(--dark-kopi);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


header h1 {
    font-size: 1.7rem;
}

header .btn {
    float: right;
    width: 50%;
}

header .hamburger {
    font-size: 1.7rem;
    cursor: pointer;
}

.btn button {
    float: right;
    background-color: transparent;
    color: white;
    border: 1.8px solid white;
    font-size: 1rem;
    width: auto;
    padding: 0.7rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}

button.scroll {
    color: var(--dark-kopi);
    border: 1.8px solid var(--dark-kopi);
}

.btn button:hover {
    background-color: white;
    color: var(--dark-kopi);
    border: 2px solid #AF8F6F;
}

header h1 {
    padding-left: 10px;
    width: 50%;
}

section {
    display: flex;
    flex-direction: column;
    height: auto;
}

section h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    margin: 4rem auto 3rem auto;
    width: 100%;
    z-index: 5;
}

section h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #c49b63;
    border-radius: 2px;
    margin: 0 auto;
}


section nav {
    width: 100%;
    top: 4.5rem;
    position: sticky;
    margin: 0;
    font-size: 1.5rem;
    overflow: hidden;
    max-height: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.1);
    /* transparan putih */
    backdrop-filter: blur(10px);
    /* efek blur */
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    box-shadow: 1px 1px 3px gray;
}

/* buka menu */
nav.active {
    animation: slideDown 0.6s cubic-bezier(.25, .8, .25, 1) forwards;
    pointer-events: auto;
}

/* tutup menu */
nav.closing {
    animation: slideUp 0.4s cubic-bezier(.55, .06, .68, .19) forwards;
    pointer-events: none;
}

nav.scrolled {
    background-color: white;
    color: var(--dark-kopi);

}

@keyframes slideDown {
  0% {
    max-height: 0;
    transform: translateY(-10px);
  }
  100% {
    max-height: 400px; /* sesuaikan isi menu */
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    max-height: 400px;
    transform: translateY(0);
  }
  100% {
    max-height: 0;
    transform: translateY(-10px);
  }
}

/* pakai timing function lembut */
nav.active {
  animation: slideDown 0.7s ease-in-out forwards;
  pointer-events: auto;
}

nav.closing {
  animation: slideUp 0.5s ease-in-out forwards;
  pointer-events: none;
}


nav ul {
    position: relative;
    width: 100%;
}

nav li {
    line-height: 1.5;
    width: 100%;
    list-style: none;
    padding: 1rem 1.5rem;
    display: block;
    text-align: left;
    color: white;

}

nav li.scrolled {
    color: var(--dark-kopi);
}

nav li:hover {
    background-color: #865439;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

nav li:focus {
    background-color: #865439;
    color: white;
    cursor: pointer;

}

nav a {
    text-decoration: none;
    color: #F8F4E1;
}

#typeIt {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: white;
    z-index: -9;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20%;
    margin-bottom: -20%;
    padding: 1rem 0.5rem;
    position: fixed;

}

#menu {
    margin: 0;
    padding: 1rem;
}

section article {
    width: 100%;
    text-align: justify;
    background-color: white;


}

.content-menu {
    display: flex;
    flex-direction: column;
    color: #212121;
    aspect-ratio: 1 / 1;
    margin: 5rem 0.5rem;
    border-radius: 5%;
    z-index: 2;
    box-shadow: 2px 2px 5px gray;
}

.content-menu .pict {
    width: 100%;
    height: 60%;
    position: relative;
}

.pict img {
    width: 100%;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -1;
}

.desc {
    height: 40%;
    margin-bottom: 1rem;
    position: static;
    border-radius: 5%;
    background-color: white;
    z-index: 1;
    width: 100%;
    overflow: visible;
}

.desc h2 {
    text-align: center;
    text-decoration: underline;
    margin-top: -1.8rem;
}

.desc .wavy {
    width: 100%;
    margin-top: -4rem;

}

.desc .price {
    float: right;
    margin-right: 1.5rem;
    background-color: var(--light-kopi);
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
    top: 100%;
}

.desc .text {
    margin-top: -1rem;
    padding: 0 1.3rem;
    text-align: justify;
    background-color: white;
}

.content h2 {
    text-align: center;
}

footer {
    background-color: var(--dark-kopi);
    color: white;
    padding: 2rem;
    text-align: center;
}

@media (min-width: 1024px) {
    header {
        padding: 2rem 10%;
        display: flex;
        flex-direction: row;
        width: 100%;

    }

    header h1 {
        font-size: 2.2rem;
        width: 50%;
    }

    header.scrolled {
        padding: 1rem 4rem;
        margin-top: 0;
    }

    .nav-list {
        display: flex;
        width: 40%;
        font-size: 1.5rem;
        justify-content: right;
    }



    .nav-list li {
        display: inline-block;
        padding: 0 0.5rem;
        color: white;
        position: relative;
        cursor: pointer;
    }

    .nav-list li::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease;
    }

    .nav-list li:hover::after {
        width: 100%;
    }

    .nav-list li.scrolled {
        color: var(--dark-kopi);
        cursor: pointer;
    }

    .nav-list li.scrolled::after {
        background-color: #543310;
        height: 3px;
    }

    header .btn {

        width: 10%;
    }

    .btn button {
        font-size: 1.2rem;
    }

    nav,
    .hamburger {
        display: none;
    }

    #menu {
        font-size: 2rem;
    }

    section {
        flex-direction: column;
    }

    .content {
        flex-direction: row;
        width: 100%;
        margin: 1.5rem;
        font-size: 1.5rem;
    }

    .content .pict {
        width: 40%;
    }

    .pict img {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .content .desc {
        width: 60%;
        padding: 0 2.3rem;
    }

    #typeIt {
        font-size: 2rem;
        margin-top: 5rem;
    }

    .svg {
        width: 100%;
        margin-top: -15rem;
    }
}